﻿

<div class="container">
    <h3>Заказ успешно сохранен!</h3>
    <h5>Оплата производится при получении комнаты!</h5>
</div>

<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>