﻿@model IEnumerable<Hotel.Models.Order.OrderHistoryViewModel>

<div class="container">
    <div>
        <fieldset>
            <legend><b>Забронированная комната</b></legend>
            @if (@ViewData["Name"] == null)
            {
                <div>
                    <h3>В настоящий момент у вас нет забронированных комнат</h3>
                </div>
            }
            else
            {
                <div>
                    <h3>Вид номера: @ViewData["Name"]</h3>
                    <p>Дата заезда: @ViewData["CheckInTime"]</p>
                    <p>Дата выезда: @ViewData["CheckOutTime"]</p>
                    <p>Цена: @ViewData["FullPrice"] на @ViewData["Days"] сут.</p>
                    <a class="btn btn-danger" asp-action="CancelMyOrder" asp-route-orderId="@ViewData["OrderId"]">Отменить</a>
                </div>
            }
        </fieldset>
    </div>

    <table class="table" id="customers">
        <caption>Все заказы</caption>
        <tr>
            <th>Вид номера</th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
            <th>Цена</th>
            <th></th>
        </tr>
        @foreach (var history in Model)
        {

            <tr>
                <td>
                    @history.Room.RoomCategory.Name
                </td>
                <td>
                    @history.CheckInTime.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @history.CheckOutTime.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @history.FullPrice
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="Order" asp-action="ReservationInfo" asp-route-roomId="@history.Room.Id">Повторить</a>
                </td>
            </tr>
        }
    </table>
</div>

<style>
    body {
        background: url(../img/banner2.jpg);
    }

    caption {
        font-family: 'Rock Salt', cursive;
        padding: 20px;
        font-style: italic;
        color: #666;
        text-align: left;
        letter-spacing: 1px;
        caption-side: top;
    }

    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    fieldset {
        margin-top: 20px;
        font-family: sans-serif;
        border: 5px solid #1F497D;
        background: #ddd;
        border-radius: 5px;
        padding: 15px;
    }

        fieldset legend {
            background: #1F497D;
            color: #fff;
            padding: 5px 10px;
            font-size: 32px;
            border-radius: 5px;
            box-shadow: 0 0 0 5px #ddd;
            width: 450px;
        }
</style>