﻿@model Hotel.Models.Order.ReservationInfoViewModel

<head>
    <link rel="stylesheet" href="~/css/calendar.css" />
</head>

@{
    string returnUrl = Context.Request.Path.ToString() + Context.Request.QueryString.ToString();
}
<div class="container">
    @if (TempData["alert"] != null)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Ошибка!</strong> @TempData["alert"]
        </div>
    }

    <form asp-action="Reservation" method="post">
        <br />
        <div class="calendars">
            <div class="tablefirst">
                <table class="table-select js-table-select">
                    <thead>
                        <tr>
                            <th class="month" colspan="7">@ViewData["NameMonth"]</th>
                        </tr>
                        <tr class="g">
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Сб</th>
                            <th>Вс</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Convert.ToInt32(ViewData["WeeksContFirstMonth"]); i++)
                        {
                            <tr>
                                @for (int x = 0; x < 7; x++)
                                {
                                    @if (Model.FirstMonth.Peek().Date < DateTime.Now || Model.AllOlders.Contains(Model.FirstMonth.Peek().Date))
                                    {
                                        <td class="date_disabled" data-date="@Model.FirstMonth.Peek().Date">
                                            @Model.FirstMonth.Dequeue().Day
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="date_enabled" data-date="@Model.FirstMonth.Peek().Date">
                                            @Model.FirstMonth.Dequeue().Day
                                        </td>

                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tablesecond">
                <table class="table-select js-table-select">
                    <thead>
                        <tr>
                            <th class="month" colspan="7">@ViewData["NameNextMonth"]</th>
                        </tr>
                        <tr class="g">
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Сб</th>
                            <th>Вс</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Convert.ToInt32(ViewData["WeeksContSecondMonth"]); i++)
                        {
                            <tr>
                                @for (int x = 0; x < 7; x++)
                                {
                                    @if (Model.AllOlders.Contains(Model.SecondtMonth.Peek().Date))
                                    {
                                        <td class="date_disabled" data-date="@Model.SecondtMonth.Peek().Date">
                                            @Model.SecondtMonth.Dequeue().Day
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="date_enabled" data-date="@Model.SecondtMonth.Peek().Date">
                                            @Model.SecondtMonth.Dequeue().Day
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <input type="hidden" asp-for="RoomId" value="@Model.RoomId" />
        <input type="hidden" asp-for="InTime" id="InTime" />
        <input type="hidden" asp-for="OutTime" id="OutTime" />
        <input type="hidden" name="returnUrl" value="@returnUrl" />
        <input class="btn btn-outline-success" type="submit" value="Продолжить" />
    </form>

    <div class="roominfo">
        <h3 class="roomname">Выбранна комната: @Model.Room.RoomCategory.Name</h3>
        <p class="roomprice">Цена: @Model.Room.RoomCategory.Price</p>
    </div>
</div>
<script src="~/js/calendarScript.js"></script>
