﻿@model Hotel.Models.Order.OrderViewModel

<div class="container">
    <form asp-action="CompleteReservation" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <br />
        <div>
            <input type="checkbox" id="editinfo" onclick="agreeForm(this.form)" value="true" name="editinfo">
            <label for="editinfo">Оставить личные данные без изменений</label>
        </div>

        <fieldset id="infofieldest">
            <div>
                <label asp-for="FirstName"></label><br />
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                <label asp-for="LastName"></label><br />
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <label asp-for="Patronymic"></label><br />
                <input asp-for="Patronymic" />
                <span asp-validation-for="Patronymic"></span>
            </div>
            <div>
                <label asp-for="PhoneNumber"></label><br />
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        </fieldset>

        <label asp-for="FullPrice">Итоговая цена на @Model.Days сут.</label><br />
        <input type="number" asp-for="FullPrice" disabled />
        <input type="hidden" asp-for="FullPrice" />
        <input type="hidden" asp-for="Days" />
        <input type="hidden" asp-for="RoomId" />
        <input type="hidden" asp-for="CheckInTime" />
        <input type="hidden" asp-for="CheckOutTime" />

        <div style="margin-top:20px;">
            <input class="btn btn-success" type="submit" value="Забронировать" />
        </div>
    </form>
</div>


@section Scripts
{
    <script language="JavaScript">
        function agreeForm(f) {
            if (f.editinfo.checked) {
                document.getElementById("infofieldest").disabled = true;
            }
            else {
                document.getElementById("infofieldest").disabled = false;
            }
        }

    </script>
}

<style>
    input {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    }

    body {
        background: url(../img/banner2.jpg);
    }
</style>
