﻿@model IEnumerable<Hotel.Models.Home.HomeListViewModel>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="~/css/product.css" />
</head>
<body>
    <div class="container">
        @if (TempData["alert"] != null)
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Ошибка!</strong> @TempData["alert"]
            </div>
        }

        <div class="row m-5 mb-2">
            @foreach (var room in Model)
            {
                <div class="col-xl-4">
                    <div class="card">
                        <img src="@room.Image" alt="@room.Name" style="width:100%">
                        <div class="product-info">
                            <h3 class="product-title">@room.Name</h3>
                            <div class="price">@room.Price &#8381;</div>
                        </div>
                        <div class="floated">
                            <a class="btn btn-info float1" asp-action="RoomCategoryInfo" asp-route-id="@room.Id">Подробнее</a>
                            <a class="btn btn-success float2" asp-action="AvaliableRooms" asp-route-id="@room.Id">Найти номер</a>
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
    </div>
</body>

<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>