﻿@model IEnumerable<Hotel.Models.Home.RoomListViewModel>

<br />
<head>
    <style>
        body {
            background: url(../img/banner2.jpg);
        }
    </style>
</head>


<body>
    <div class="container">
        <table class="bordered table">
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Количество мест
                </th>
                <th>
                    Количество комнат
                </th>
                <th>
                    Этаж
                </th>
                <th>
                    Цена
                </th>
                <th>

                </th>
            </tr>
            @foreach (var room in Model)
            {
                <tr>
                    <td>
                        @room.RoomCategory.Name
                    </td>
                    <td>
                        @room.RoomCategory.PlacesQuantity
                    </td>
                    <td>
                        @room.RoomCategory.RoomQuantity
                    </td>
                    <td>
                        @room.Floor
                    </td>
                    <td>
                        @room.RoomCategory.Price
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Order" asp-action="ReservationInfo" asp-route-roomId="@room.Id">Забронировать</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</body>


<style>
    .bordered {
        border: solid #ccc 1px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;
    }

        .bordered tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        .bordered td, .bordered th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

            .bordered td:first-child, .bordered th:first-child {
                border-left: none;
            }

            .bordered th:first-child {
                -moz-border-radius: 6px 0 0 0;
                -webkit-border-radius: 6px 0 0 0;
                border-radius: 6px 0 0 0;
            }

            .bordered th:last-child {
                -moz-border-radius: 0 6px 0 0;
                -webkit-border-radius: 0 6px 0 0;
                border-radius: 0 6px 0 0;
            }

            .bordered th:only-child {
                -moz-border-radius: 6px 6px 0 0;
                -webkit-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;
            }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }
</style>