﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div id="header-featured">
        <div id="banner-wrapper">
            <div id="banner" class="container">
                <h2>
                    Добро пожаловать!<br />
                    Здесь Вы можете забронировать вашу мечту!
                </h2>
                <p>
                    Наш 5-и звёздочный отель <strong>Измайловская</strong>, находящийся в самом сердце города, распологает большим количеством комфортных номеров с потрясающими видами на красивый город и зелёный парк из больших панорамных окон!
                    В нашем отеле можно подобрать номер для любого бюджета! Огромный бассейн на крыше, являясь визитной карточкой нашего заведения, не оставит равнодушным людей любых возрастов!
                    Меню нашей кухни удовлетворит любых ценителей вкусно поесть, так как в нем имеется множество блюд разных национальностей и культур!<br />
                    Мы рады приветсвовать Вас!
                </p>
                <a asp-controller="Home" asp-action="AllRooms" class="button">Забронировать номер</a>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="featured-wrapper">
            <div id="featured" class="extra2 margin-btm container">
                <div class="main-title">
                    <h2>Почему мы лучшие среди конкурентов:</h2>
                </div>

                <div class="ebox1">
                    <img src="~/img/food.png" class="ebox1-img" />
                    <div class="title">
                        <h2>Голодны? Накормим!</h2>
                        <span class="byline">Огромный выбор блюд</span>
                    </div>
                    <p>
                        Кухня нашего отеля имеет хорошую репутацию и находиться на хорошем счету у многих известных критиков.
                        Наше меню постоянно расширяется, шеф-повар каждую неделю добавялет новые изысканные блюда, относящиеся к разным народам мира.
                    </p>
                </div>
                <div class="ebox2">
                    <img src="~/img/lowprice.png" class="ebox1-img" />
                    <div class="title">
                        <h2>На любой кошелёк!</h2>
                        <span class="byline">У нас самые низкие цены среди конкурентов</span>
                    </div>
                    <p>
                        Наши цены всегда в пределах разумного и всегда дешевле, чем у конкурентов.
                        При этом качество обслуживания нашего отеля намного лучше.
                        Мы ценим каждого клиента, поэтому любой посетитель сможет найти в нашем отеле номер по его бюджету.
                    </p>
                </div>
            </div>
            <div class="extra2 container">
                <div class="ebox1">
                    <img src="~/img/swimmingpool.png" class="ebox1-img" />
                    <div class="title">
                        <h2>Освежиться не помешает!</h2>
                        <span class="byline">На крыше расположен большой бассейн</span>
                    </div>
                    <p>
                        Нашей главной фишкой является большой бассейн на крыше отеля.
                        Бассейн закрыт стеклянной панорамной крышей, так что можете купаться ни смотря на погоду и температуру на улице!
                        Купальный сезон у нас не закачивается никогда!
                    </p>
                </div>
                <div class="ebox2">
                    <img src="~/img/window.png" class="ebox1-img" />
                    <div class="title">
                        <h2>Пламенный закат</h2>
                        <span class="byline">Каждый номер оснащён панорамными окнами</span>
                    </div>
                    <p>
                        Вид из окон нашего отеля выходит на зелёный парк. В дневное время суток в комнаты всегда попадает солнечнй свет.
                        А на террасе рядом с бассейном можно проводить вечера созерцая прекрасные закаты вместе с чашечкой кофе, который с радостью сделает для Вас наш барриста.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>