﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>
