﻿@model Hotel.Models.Home.HomeListViewModel
<head>
    <title>Информация</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<br />
<div class="container">
    <div class="sl_ctr">
        <div class="sldr">
            @foreach (var item in Model.RoomImages)
            {
                <img src="@item.Image" alt="">
            }
        </div>
        <div class="prv_b"></div>
        <div class="nxt_b"></div>
    </div>

    <article>
        <h2>@Model.Name</h2>
        <p>Описание: @Model.Description</p>
        <p>Количество мест: @Model.PlacesQuantity</p>
        <p>Количество комнат: @Model.RoomQuantity</p>
        <p>Цена: @Model.Price</p>
    </article>
</div>

<style>
    body {
        background: url(../img/banner2.jpg);
    }

    .sl_ctr {
        position: relative;
        width: 768px;
        height: 432px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .sldr {
        position: relative;
        width: 10000px;
        height: 30px;
    }

        .sldr img {
            float: left;
            border-radius: 50px;
        }

    .prv_b, .nxt_b {
        position: absolute;
        top: 50%;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

        .prv_b:hover, .nxt_b:hover {
            opacity: .6;
        }

    .prv_b {
        left: 10px;
        background: url(/img/prv.png) no-repeat;
    }

    .nxt_b {
        right: 10px;
        background: url(/img/nxt.png) no-repeat;
    }
</style>

<script>
    $(function () {
        var sldr = $('.sldr'),
            sldrContent = sldr.html(),
            slideWidth = $('.sl_ctr').outerWidth(),
            slideCount = $('.sldr img').length,
            prv_b = $('.prv_b'),
            nxt_b = $('.nxt_b'),
            sldrInterval = 4300,
            animateTime = 1000,
            course = 1,
            margin = - slideWidth;
        $('.sldr img:last').clone().prependTo('.sldr'); $('.sldr img').eq(1).clone().appendTo('.sldr'); $('.sldr').css('margin-left', -slideWidth); function nxt_bSlide() { interval = window.setInterval(animate, sldrInterval) } function animate() { if (margin == -slideCount * slideWidth - slideWidth) { sldr.css({ 'marginLeft': -slideWidth }); margin = -slideWidth * 2 } else if (margin == 0 && course == -1) { sldr.css({ 'marginLeft': -slideWidth * slideCount }); margin = -slideWidth * slideCount + slideWidth } else { margin = margin - slideWidth * (course) } sldr.animate({ 'marginLeft': margin }, animateTime) } function sldrStop() { window.clearInterval(interval) } prv_b.click(function () { if (sldr.is(':animated')) { return false } var course2 = course; course = -1; animate(); course = course2 }); nxt_b.click(function () { if (sldr.is(':animated')) { return false } var course2 = course; course = 1; animate(); course = course2 }); sldr.add(nxt_b).add(prv_b).hover(function () { sldrStop() }, nxt_bSlide); nxt_bSlide()
    });
</script>
