﻿@model IEnumerable<Hotel.Entities.User>

<br />

<div class="container">
    <div class="buttons">
        <a class="btn btn-success" asp-action="Create">Добавить пользователя</a>
        <a class="btn btn-warning" asp-controller="Roles" asp-action="Index">Роли пользователей</a>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Имя</th>
            <th>Год</th>
            <th>Номер телефона</th>
            <th></th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.Birhrday</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                        <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<style>
    body {
        background: url(../img/banner2.jpg);
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
    }

    th, td:first-child {
        background: #AFCDE7;
        color: white;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

    td {
        background: #D8E6F3;
    }

        th:first-child, td:first-child {
            text-align: left;
        }
</style>