﻿@model string

<div class="container">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Новая роль</label>
            <input name="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <a class="p-2 text-dark" asp-controller="Roles" asp-action="Index">Назад</a>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>