﻿@using Microsoft.AspNetCore.Identity
@model Hotel.Models.Roles.ChangeRoleViewModel

<div class="container">
    <h2>Изменение ролей для пользователя @Model.UserEmail</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="roles" value="@role.Name"
                                          @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                                    }
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <a class="p-2 text-dark" asp-controller="Roles" asp-action="UserList">Назад</a>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>