﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="container">
    <h2>Список ролей</h2>
    <table class="table">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a class="p-2 text-dark" asp-action="Create">Добавить роль</a>
    <a class="p-2 text-dark" asp-action="UserList">Выдать роль</a>
    <a class="p-2 text-dark" asp-controller="Users" asp-action="Index">Назад</a>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>