.table-select {
    width: 500px;
    text-align: center;
    cursor: pointer;
}

    .table-select th {
        font-weight: bold;
        border: 1px solid #000;
    }

    .table-select td {
        width: 20px;
        height: 40px;
        border: 1px solid #000;
        transition: 0.5s;
    }

    .table-select .date_disabled {
        background-color: #bbb;
    }

.date_selected {
    background-color: skyblue;
}

.new_month {
    display: none;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

.tablefirst {
    float: left;
    margin-right: 10px;
}

.tablesecond {
    float: right;
    margin-left: 10px;
}

.calendars {
    display: inline-block;
}

.roomname {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.roomprice {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: url(../img/banner2.jpg);
}
