﻿.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.price {
    font-family: "Open Sans";
    color: #162546;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}

.product-title {
    font-weight: normal;
    font-family: "Bradley Hand ITC";
    color: #162546;
    font-size: 18px;
}

.product-info {
    padding-top: 15px;
}
/********************************/
/*Alert                         */
/********************************/

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }


/********************************/
/*Buttons                       */
/********************************/

body {
    background: url(../img/banner2.jpg);
}

.floating-button {
    text-decoration: none;
    position: relative;
    height: 40px;
    width: 120px;
    line-height: 40px;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    background: #383d48;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .floating-button:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        top: 0;
        right: 0;
        background: linear-gradient(225deg, #BEFDE6 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, .4);
        transition: .3s;
    }

    .floating-button:hover:before {
        width: 20px;
        height: 20px;
    }

.float1 {
    float: left;
}

.float2 {
    float: right;
}
