﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/default.css" rel="stylesheet" type="text/css" media="all" />
    <style>
    </style>
</head>
<body>
    <header>
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a class="teginfo" asp-controller="Home" asp-action="Index">Измайловская</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="current_page_item"><a asp-controller="Home" asp-action="AllRooms">Номера</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Account" asp-action="MyInfo">Мой личный кабинет</a></li>

                            @if (User.IsInRole("reception"))
                            {
                                <li>
                                    <a asp-controller="Reception" asp-action="Allemployees">Сотрудники</a>
                                </li>
                                <li>
                                    <a asp-controller="Reception" asp-action="AllOrders">Заказы</a>
                                </li>
                            }

                            @if (User.IsInRole("admin"))
                            {
                                <li>
                                    <a asp-controller="Users" asp-action="Index">Пользователи</a>
                                </li>

                            }
                            <li>
                                <a asp-controller="Account" asp-action="MyInfo">@User.Identity.Name</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Login">Вход</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" asp-controller="Account" asp-action="Logout" class="btntop">
                                    <input type="submit" class="btn btn-danger" value="Выход" />
                                </form>
                            }
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<footer class="border-top footer text-white">
            <div class="container">
                &copy; 2021 - Отель - <a class="m-2 text-white" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <footer>
        <div id="copyright">
            <p>&copy; Все права защищены 2021 | Отель Измайловская.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
