﻿@model Hotel.Models.Reception.AddEmployeeViewModel

<div class="container">
    <form asp-action="AddEmployee" asp-controller="Reception" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="LastName">Фамилия</label><br />
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="FirstName">Имя</label><br />
            <input type="text" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="Patronymic">Отчество</label><br />
            <input type="text" asp-for="Patronymic" />
            <span asp-validation-for="Patronymic" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Birhrday">Дата рождения</label><br />
            <input asp-for="Birhrday" />
            <span asp-validation-for="Birhrday" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Phone">Номер телефона</label><br />
            <input type="text" asp-for="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PostId">Выберите категорию</label><br />
            <select class="select-css" asp-for="PostId" asp-items="ViewBag.Post"></select>
        </div>
        <div class="form-group">
            <input style="margin-top: 20px;" type="submit" value="Добавить" class="btn btn-outline-dark" />
        </div>
    </form>
    <a style="margin-top: 20px;" asp-action="AllEmployees" asp-controller="Reception">Назад</a>
</div>

<style>
    body {
        background: url(../img/banner2.jpg);
    }

    input {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    }

    .select-css {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        display: inline-block;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
</style>