﻿@model IEnumerable<Hotel.Models.Reception.EmployeeListViewModel>
<head>
    <title>Сотрудники</title>
</head>

<div class="container">
    <form>
        <div class="buttons">
            <input class="btn btn-info" type="submit" asp-action="DeleteSelectedEmployeers" value="Удалить выбранных сотрудников" />
            <a class="btn btn-success" asp-action="AddEmployee" asp-controller="Reception">Добавить сотрудника</a>
        </div>

        <table class="table" id="infoTable">
            <tr>
                <th><input type="checkbox" onClick="toggle(this)" /> Выбрать все<br /></th>
                <th>
                    Фамилия
                    <input style="max-width: 100px;" type="text" id="inputsurname" onkeyup="Filter()">
                </th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Телефон</th>
                <th>Должность</th>
                <th>Зарплата</th>
                <th></th>
            </tr>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="employersId" value="@employee.Id">
                    </td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Post.PostName</td>
                    <td>@employee.Post.Salary</td>
                    <td>
                        <a class="btn btn-success" asp-action="EditEmployee" asp-route-id="@employee.Id">Изменить</a>
                        <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@employee.Id">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

@section Scripts
{
    <script language="JavaScript">
        function toggle(source) {
            checkboxes = document.getElementsByName('employersId');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        function Filter() {
            input = document.getElementById("inputsurname");
            filter = input.value.toUpperCase();
            table = document.getElementById("infoTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}

<style>
    body {
        background: url(../img/banner2.jpg);
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
        border: 15px solid #F2F8F8;
        border-top: 5px solid #F2F8F8;
        border-collapse: collapse;
    }

        .table th {
            font-weight: bold;
            padding: 5px;
            background: #F2F8F8;
            border: none;
            border-bottom: 5px solid #F2F8F8;
        }

        .table td {
            padding: 5px;
            border: none;
            border-bottom: 5px solid #F2F8F8;
        }

    .buttons {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>