﻿@model IEnumerable<Hotel.Models.Order.AllOrdersViewModel>
@using Hotel.Entities;

<div class="container">
    <a asp-controller="Reception" asp-action="AllOrdersHistory">История всех заказов</a>

    <form asp-action="AllOrders" method="get">
        <div class="filter-group">
            <select class="select" name="sortorders">
                <option selected="selected" value="0" disabled="disabled">Сортировать:</option>
                <optgroup label="По возрастанию">
                    <option value="checkInUp">По дате заезда</option>
                    <option value="checkOutUp">По дате выезда</option>
                </optgroup>
                <optgroup label="По убыванию">
                    <option value="checkInDown">По дате заезда</option>
                    <option value="checkOutDown">По дате выезда</option>
                </optgroup>
            </select>
            <input class="btn btn-success" type="submit" value="Сортировать" />
            <a class="btn btn-danger" asp-action="AllOrders">Сброс</a>
        </div>
    </form>

    <form asp-action="AllOrders" method="get">
        <div class="search-group">
            <div class="form-group">
                <select class="select" name="search" id="search">
                    <option selected="selected" value="0" disabled="disabled">Поиск:</option>
                    <optgroup label="Личные данные">
                        <option value="searchLastName">Фамилия</option>
                        <option value="searchName">Имя</option>
                        <option value="searchPatr">Отчество</option>
                        <option value="searchPhone">Телефон</option>
                        <option value="searchMail">Mail</option>
                    </optgroup>
                    <optgroup label="Дата">
                        <option value="searchIn">Заезд</option>
                        <option value="searchOut">Выезд</option>
                    </optgroup>
                    <optgroup label="Комната">
                        <option value="searchRoom">Вид</option>
                        <option value="searchStatus">Статус</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group" id="infodiv">
                <input type="text" size="15" name="info" id="info" />
            </div>
            <div class="form-group">
                <input type="date" name="dateTime" id="dateTime" />
            </div>

            <div id="radiodiv">
                <div class="form-group">
                    <input type="radio" value="give" name="keygive" id="give" />
                    <label for="give">Ключ выдан</label>
                </div>
                <div class="form-group">
                    <input type="radio" value="notgive" name="keygive" id="notgive" />
                    <label for="notgive">Ключ не выдан</label>
                </div>
            </div>

            <input class="btn btn-success" type="submit" value="Поиск" />
        </div>
    </form>
    <br />
    <table class="table">
        <tr>
            <th>Комната</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Номер</th>
            <th>Почта</th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
            <th>Статус</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.Room.RoomCategory.Name
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Patronymic
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.CheckInTime
                </td>
                <td>
                    @item.CheckOutTime
                </td>
                @if (item.Statuses == Statuses.Expired)
                {
                    <td>
                        <p>Просрочено</p>
                    </td>
                }
                else if (item.Buyed == false)
                {
                    <td>
                        <a class="btn btn-warning" asp-controller="Reception" asp-action="Buyed" asp-route-id="@item.Id">Подтверждение оплаты</a>
                    </td>
                }
                else
                {
                    @if (item.Statuses == Statuses.NotGiven)
                    {
                        <td>
                            <p>Не выдан</p>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="Reception" asp-action="Key" asp-route-id="@item.Id">Выдать</a>
                        </td>
                    }
                    else if (item.Statuses == Statuses.Given)
                    {
                        <td>
                            <p>Выдан</p>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="Reception" asp-action="Key" asp-route-id="@item.Id">Возврат</a>
                        </td>
                    }
                    else if (item.Statuses == Statuses.Completed)
                    {
                        <td>
                            <p>Возвращён</p>
                        </td>
                    }
                }
                <td>
                    <a class="btn btn-danger" asp-controller="Reception" asp-action="DeleteOrder" asp-route-orderId="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>

<style>
    body {
        background: url(../img/banner2.jpg);
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 15px;
        border-collapse: collapse;
        text-align: center;
    }

    th, td:first-child {
        background: #AFCDE7;
        color: white;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

    td {
        background: #D8E6F3;
    }

        th:first-child, td:first-child {
            text-align: left;
        }

    .search-group {
        position: fixed;
        left: 10px;
    }
</style>

@section scripts{
    <script>
        document.getElementById("infodiv").style.display = 'none';
        document.getElementById("dateTime").style.display = 'none';
        document.getElementById("radiodiv").style.display = 'none';

        $('#search').click(function () {
            var n = document.getElementById("search").options.selectedIndex;
            var txt = document.getElementById("search").options[n].value;
            if (txt == "searchLastName" || txt == "searchName" || txt == "searchPatr" || txt == "searchPhone" || txt == "searchMail" || txt == "searchRoom") {
                document.getElementById("infodiv").style.display = 'block';
            }
            else {
                document.getElementById("infodiv").style.display = 'none';
            }

            if (txt == "searchIn" || txt == "searchOut") {
                document.getElementById("dateTime").style.display = 'block';
            }
            else {
                document.getElementById("dateTime").style.display = 'none';
            }

            if (txt == "searchStatus") {
                document.getElementById("radiodiv").style.display = 'block';
            }
            else {
                document.getElementById("radiodiv").style.display = 'none';
            }
        })


    </script>
}
