﻿@model IEnumerable<Hotel.Models.Reception.AllOrdersHistoryViewModel>

<head>
    <meta charset="utf-8">
    <title>Все заказы</title>
    <link rel="stylesheet" href="~/css/allordershistory.css">
</head>

<div class="container">
    <form asp-action="AllOrdersHistory" method="get">
        <div class="filter-group">
            <select class="select" name="sortorders">
                <option selected="selected" value="0" disabled="disabled">Сортировать:</option>
                <optgroup label="По возрастанию">
                    <option value="checkInUp">По дате заезда</option>
                    <option value="checkOutUp">По дате выезда</option>
                </optgroup>
                <optgroup label="По убыванию">
                    <option value="checkInDown">По дате заезда</option>
                    <option value="checkOutDown">По дате выезда</option>
                </optgroup>
            </select>
            <input class="btn btn-success" type="submit" value="Сортировать" />
            <a class="btn btn-danger" asp-action="AllOrdersHistory">Сброс</a>
        </div>
    </form>

    <form asp-action="AllOrdersHistory" method="get">
        <div class="search-group">
            <select class="select" name="search">
                <option selected="selected" value="0" disabled="disabled">Поиск:</option>
                <optgroup label="ФИО">
                    <option value="searchLastName">Фамилия</option>
                    <option value="searchName">Имя</option>
                    <option value="searchPatr">Отчество</option>
                </optgroup>
                <optgroup label="Дата">
                    <option value="searchIn">Заезд</option>
                    <option value="searchOut">Выезд</option>
                </optgroup>
                <optgroup label="Цена">
                    <option value="searchPrice">Полная цена</option>
                </optgroup>
            </select>
            <input type="text" name="personalInfo" />
            <input type="date" name="dateTime" />

            <input class="btn btn-success" type="submit" value="Поиск" />
        </div>
    </form>

    <table class="table">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
            <th>Дни</th>
            <th>Цена</th>
        </tr>
        @foreach (var history in Model)
        {

            <tr>
                <td>
                    @history.User.LastName
                </td>
                <td>
                    @history.User.FirstName
                </td>
                <td>
                    @history.User.Patronymic
                </td>
                <td>
                    @history.CheckInTime
                </td>
                <td>
                    @history.CheckOutTime
                </td>
                <td>
                    @{
                        var days = history.CheckOutTime.Day - history.CheckInTime.Day;
                    }
                    @days
                </td>
                <td>
                    @history.FullPrice
                </td>
                <!--<td>
                    <a class="btn btn-success" asp-controller="Order" asp-action="ReservationInfo" asp-route-roomId="room.Id">Забронировать</a>
                </td>-->
            </tr>
        }
    </table>

    @if (TempData["alert"] != null)
    {
        <footer class="border-top" style="text-align:center; background-color:indianred">
            <div class="alert">
                <span class="closebtn" style="color: white" onclick="this.parentElement.style.display='none';">&times;</span>
                @TempData["alert"]
            </div>
        </footer>
    }
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>