﻿@model Hotel.Models.Reception.EditEmployeeViewModel

<div class="container">
    <form asp-action="EditEmployee" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Фамилия</label>
            <input type="text" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">Имя</label>
            <input type="text" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patronymic" class="control-label">Отчество</label>
            <input type="text" asp-for="Patronymic" class="form-control" />
            <span asp-validation-for="Patronymic" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Birhrday" class="control-label">Дата рождения</label>
            <input asp-for="Birhrday" class="form-control" />
            <span asp-validation-for="Birhrday" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label">Номер телефона</label>
            <input type="text" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostId">Выберите категорию</label>
            <select asp-for="PostId" asp-items="ViewBag.Post"></select>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Именить" class="btn btn-info" />
        </div>
    </form>
    <a asp-action="AllEmployees" asp-controller="Reception">Назад</a>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>