﻿@model Hotel.Models.Account.EditMyInfoViewModel

<div class="container">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="Patronymic"></label><br />
            <input asp-for="Patronymic" />
            <span asp-validation-for="Patronymic"></span>
        </div>
        <div>
            <label asp-for="Birhrday"></label><br />
            <input asp-for="Birhrday" />
            <span asp-validation-for="Birhrday"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber"></label><br />
            <input asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div>
            <input style="margin-top: 20px;" type="submit" value="Изменить данные" />
        </div>
    </form>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
    input {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    }
</style>