﻿<head>
    <title>Подтверждение пароля</title>
</head>

<div class="container">
    <form>
        <h2>Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме!</h2>
    </form>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>