﻿@{
    ViewData["Title"] = "Сбросить пароль";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
    </p>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>