﻿@model Hotel.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <h4>Введите email.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>