﻿@model Hotel.Models.Account.LoginViewModel

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<div class="container">
    <section id="content">
        <form class="ui-form" method="post" asp-controller="Account" asp-action="Login"
                    asp-route-returnUrl="@Model.ReturnUrl">
            <h1>Вход</h1>
            <div>
                <input asp-for="Email" type="text" placeholder="Username" required="" id="username" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <input asp-for="Password" type="password" placeholder="Password" required="" id="password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <input type="submit" value="Войти" />
                <a asp-action="ForgotPassword">Забыли пароль?</a>
                <a asp-action="Register">Регистрация</a>
            </div>
        </form>
    </section>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>