﻿@model Hotel.Models.Account.MyInfoViewModel


<head>
    <title>Личный кабинет</title>
</head>

<div class="container">
    <div class="personal-info">
        <h1>Имя: @Model.FirstName</h1>
        <p>Фамилия: @Model.LastName</p>
        <p>Отчество: @Model.Patronymic</p>
        <p>Псевдоним: @Model.UserName</p>
        <p>Дата рождение: @Model.Birhrday.ToString("dd/MM/yyyy")</p>
        <p>Mail: @Model.Email</p>
        <p>Телефон: @Model.PhoneNumber</p>
    </div>

    <div class="info-buttons">
        <a class="btn btn-outline-primary" asp-controller="Order" asp-action="OrderHistoryMyName">Заказы</a>
        <a class="btn btn-success" asp-action="Edit">Изменить данные</a>
    </div>
</div>

<style>
    .personal-info {
        font-size:20px;
        display: inline-block;
        margin-top: 20px;
    }

    .info-buttons {
        margin-top: 20px;
    }

    body {
        background: url(../img/banner2.jpg);
    }
</style>