﻿@model Hotel.Models.Account.RegisterViewModel

<div class="container">
    <br />
    <h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="Patronymic"></label><br />
            <input asp-for="Patronymic" />
            <span asp-validation-for="Patronymic"></span>
        </div>
        <div>
            <label asp-for="Birhrday"></label><br />
            <input asp-for="Birhrday" />
            <span asp-validation-for="Birhrday"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber"></label><br />
            <input type="tel" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input style="margin-top: 20px;" type="submit" value="Регистрация" />
        </div>
    </form>
</div>

<style>
    input {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    }
    body {
        background: url(../img/banner2.jpg);
    }
</style>