﻿@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-action="Login">ссылке</a>.
    </p>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>