﻿@model Hotel.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h4>Введите пароль.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Сбросить</button>
            </form>
        </div>
    </div>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>